<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Salon Sanrooka</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="icon" type="image/x-icon" href="../icontop.jpg">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<div class="container-fluid">
    <div class="row heading">
        <div class="col-3"></div>
        <div class="col-5 h1">Salon Sanrooka</div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <a href="../index.html"><span class="homeBtn"></span></a><span style="width:100px;display:inline-block"></span><a href="../index.html"><span class="logoutBtn"></span></a>
            <div class="table-responsive-md">
            <table class="table table-bordered">
                <thead class="thead-dark">

                <tr><td><a href="ReceptionistAppointment.html">View Appointments</a></td></tr>
                <tr><td><a href="ReceptionistStock.html">Stock details</a></td></tr>
                <tr><td><a href="ReceptionistCustomer.html">View Customers</a></td></tr>
                <tr><td><a href="ReceptionistReport.html">Generate reports</a></td></tr>
                <tr><td><a href="ReceptionistChat.html">Chat</a></td></tr>
                <tr></tr>
                </thead>
            </table>
            </div>
            <form name="stockitems" method="get" action="">
                <div class="form-group">
                    <label for="iCode">Item Code</label>
                    <input type="text" class="form-control" id="iCode"  placeholder="000">

                </div>
                <div class="form-group">
                    <label for="iName">Name</label>
                    <input type="text" class="form-control" id="iName" placeholder="Item name">
                </div>
                <div class="form-group">
                    <label for="iQuantity">Quantity</label>
                    <input type="number" min="0" class="form-control" id="iQuantity" placeholder="Quantity">
                </div>


                <button type="submit" class="btn btn-primary mr-3">Update</button><button type="reset" class="btn btn-primary">Cancel</button>
            </form>
        </div>
        <div class="col-8">
            <h1 align="center">Stock</h1>
            <div class="table-responisve-md" style="height:500px;overflow-y:auto">
                <table class="table table-bordered" style="height:150px">

                        <caption>List of Items in the stock</caption>
                        <thead>
                        <tr style="position:sticky">

                            <th scope="col">Code</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price(1 unit)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>

                </table>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>

</body>
</html>